body {
    font-family: Jost, sans-serif;
    background-color: #ffffff;
    color: white;
    margin: 0;
    display: flex;
    height: 480px;
    width:800px;
}
.container {
    display: flex;
    width: 800px;
    height: 480px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}
.sidebar {
    font-family: Jost,sans-serif;
    font-weight: 500;
    font-size: 9px;
    width: 200px;
    height:480px;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo img {
    width: 130px; /* Adjust size as needed */
    height: 22px;
    position: fixed;
    left: 35px;
    top: 36px;
    display: block;
}
nav {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 136px;
    align-items: center;
}
.nav-button {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the left */
    gap: 20px; /* Space between icon and text */
    background: none;
    border: 1px solid white;
    color: white;
    margin: 5px 0;
    width: 161px;
    height: 31px;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Jost';
}

.nav-button img {
    width: 18px; /* Adjust icon size */
    height: 18px;
    margin-left: 15px;
    filter: brightness(0) invert(1);
}

.nav-button.active {
    background: white;
    color: #7A7A7A;

}

.nav-button.active img {
    filter: brightness(0) invert(0.53); /* Change only icon color */
}
.main-content {
    flex: 1;
    display: none;
    width: 800px;
    height: 480px;
    flex-direction: column;
}
.live-tracking {
    background: black;
    width:515px;
    height:188px;
    border-radius: 10px;
    position: absolute;
    transform: translate(47px, 46px);
}

.standby-info{
    display:flex;
    position:fixed;
    transform: translate(153px, 75px);
    gap:25px;
    align-items: center;
    font-size: 21px;
}
.tracking-info {
    display: none;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width:fixed;
    transform: translate(240px, 100px);
}
.circle {
    width: 69px;
    height: 69px;
    background: black;
    color: #32B34B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 47px;
    border: 3.5px solid #32B34B;
}

.seperator{
    height:115px;
    width:5px;
    background:white;
    border-radius:5.5px;
    position: fixed;
    transform: translate(347px, 40px);
}
.abort-button {
    background: #C10000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
    border-radius: 15px;
    cursor: pointer;
    position: fixed;
    width:105px;
    height:129px;
    gap:13px;
    font-size: 14px;
    transform: translate(385px, 41px);

}


.movement-disp{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 9px;
    position: fixed;
    gap:10px;
    transform: translate(135px, 48px);
    width:70px;
}
.arrow{
    fill: #32B34B;
}

.showstationTo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    position:fixed;
    gap:10px;
    transform: translate(218px, 53px);
}
.showstationFrom{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    position: fixed;
    gap:10px;
    transform: translate(42px, 53px);
}
.requests {
    display: none;
    justify-content: space-around;
    position: fixed;
    transform: translate(247px, 250px);
    gap:27px;
}
.request-card {
    background: black;
    border-radius: 15px;
    font-size: 16px;
    width: 153px;
    height:187px;
}
.standby-state{
    display:none;
}
.request-card img {
    position: absolute;
    transform: translate(45px, 112px);
}

.request-card span {
    text-align: center;
    position: fixed;
    transform: translate(25px, 21px);
}
.requested-card {
    background: black;
    border-radius: 15px;
    width: 153px;
    height:187px;
}

.req-pod-station{
    width: 53px;
    height: 53px;
    background: black;
    color: #32B34B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 47px;
    border: 3.5px solid #32B34B;
    position: fixed;
    transform: translate(49px, 73px);
}

.requested-card button{
  width:121px;
  height:34px;
  position: fixed;
  transform: translate(17px, 139px);

}

.requested-card span{
    text-align: center;
    position: fixed;
    transform: translate(30px, 21px);
}

.trackingtext{
    position: fixed;
    transform: translate(22px, 14px);
}

.pass-through {
    background: black;
    border-radius: 15px;
    width: 153px;
    height:72px;
}

.pass-through-text{
    display:flex;
    align-items: center;
    gap:10px;
    font-size: 14px;
    position: fixed;
    transform: translate(24px, 40px);
}

.pass-through-status{
    background:#3B3B3B ;
    width: 121px;
    height: 13px;
    border-radius: 6.5px;
    position: absolute;
    transform: translate(16px, 14px);
}

.accept {
    background: gray;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}